*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
.container{
display: flex;
justify-content: space-between;
width: 87%;
margin: 100px auto;

}
.comtainer .col{
    width: 20%;
    height: 250px;
    background-color: black;
}
.col img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3 all linear;

}
.col:last-child img{

    width: 100%;
    height: 100%;

}
.col:nth-child(3) {
    overflow: hidden;
}
.col:first-child:hover img{
    transform: rotateX(45deg) rotateY(45 deg);
}
.col:nth-child(2):hover img{
    transform: skewX(-20deg) skewY(-20deg);
}
.col:nth-child(3):hover img{
    transform: scale(1.6);
}
.col:last-child:hover img{
    transform: translate(-30px, -30px);
}
.fonts{
    width: 400px;
    margin: auto;
}
.fonts i {
    font-size: 4em;
    color: purple;
}
.spinner{
    animation: spin 2s infinite linear;
}
@keyframes spin{
    0%{
        transform: rotate(0);
        color: initial;
    }
    50% {
        color: red;
        
    }
    100%{
        transform: rotate(360deg);
        color: initial;
    }
}